# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env
.vercel
.env*

# Astro Cache
.astro/
dist/
dist-ssr/

# Confidential Handbooks (Local Only)
BUKU_PANDUAN_PENGELOLAAN_WEBSITE_RT35.*
public/panduan.html
